textarea {
	width: 400px;
	height: 100px;
	background-color: #fff;
	resize: none;
	border-radius: 10px;
}
/* Skelbti mygtukas */
button {
	width: 100px;
	height: 30px;
border: none;
font-family: arial;
font-weight: 400;
cursor: pointer;
margin-bottom: 25px;
}
/* k123 - komentaru dezutes isvaizda */
.k123 {
	width: 400px;
	padding: 20px;
	margin-bottom: 4px;
	background-color: grey;
	border-radius: 4px;
}

.k123 p {
font-family: arial;
font-size: 14px;
line-height: 16px;
color: #282828;
font-weight: 100;
}
.cont{
	width: 400px;
	height: 250px;
	/*background-color: #fff;*/
	overflow: auto;
	
}