#staggered-test{
	opacity: 0;
}
#tbl_about{
	border: 1px solid black;
	border-radius: 20px;
}
body{
	min-height: 600px;
    background: #dfdfdf;
}
footer{
	position: relative;
	top: 380px;
}
/*.tab{
	border: 1px solid black;
	border-radius: 20px;
}*/
body {font-family: "Lato", sans-serif;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	border-radius: 20px;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
	border: 1px solid #ccc;
	 border-top-left-radius: 20px;
	  border-top-right-radius: 20px;
	}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
	
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.apiemus{
	display: inline !important ;
}
.textarea{
    border-style: groove;
    border-radius: 20px;
    height: 200px;

}
footer{
        top: 10px !important;
}
#info{
    position: absolute;
    right: 15%;
    top: 388px;
    /*border-style: groove;*/
    height: 400px;
    width: 35%;
}

.pavabout{
    position: relative;
    border-radius: 30px;
    height: 20%;
    width: 20%;
	margin-right:20px;
}