#headimg{
	width: 114px;
	margin-left: 50px;
	border-radius: 20px;
}
.breadtxt{
	 font-size:small;
}
.foot{
	height: 30px;
	background: #616161;
}
.namai , .tipai , .gamintojai, .apiemus{
	display: none;
}
.virsus{
	background: rgba(1, 1, 1, 0.5);
}
