.tipai {
	display: inline !important ;
}
.namai{
	display: inline !important ;
}
.gamintojai{
	display: inline !important ;
}
section{
	top: 50px;	
	
}
#pav1{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50%;
    /*background-size: 700px 500px;*/
    /*background-repeat: repeat;*/
}
.pav2{
	height: 100px;
	width:  100px;

}

body li{
	float:left;
	position: relative;
	padding: 10px;
}
#ulas{
	position:relative;
	list-style-type: none;
	/*left: 30%;*/
	max-width: 40%;
}


#pavp1{
	padding-left: 15%;
	padding-right: 15%;

}
#pavp2{
	margin: 0;
	margin-left: 30px;

}
#pavp3{
	margin: 0;
	margin-left: 30px;
}
.graf{
	display: none;

	left:70%;
	width: 40%;
	height: 35%;
	margin: 0;
}
body{
	background: #dfdfdf;

}
.foot{
	
	background: none !important;
}